.App {
  text-align: center;
}

.search {
  margin: 20px;
}

.error {
  padding: 10px;
  color: white;
  background-color: red;
}

.post {
  padding: 5px;
  color: black;
}

.post:hover {
  background-color: #e4e4e4;
}

.title {
  font-size: 16px;
  font-weight: 700;
}
.body {
  font-size: 14px;
  font-weight: 400;
}
.navigate {
  padding: 20px;
  margin: 20px;
  background-color: #e7e7e7;
}
